.aws/CICD_using_step_functions/step_functions/manual_approval_JSONPath.json
{
  "Comment": "A description of my state machine",
  "StartAt": "request approval switch traffic via slack",
  "States": {
    "request approval switch traffic via slack": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:ap-southeast-1:730335485777:function:request-to-slack-for-manual-approval",
        "Payload": {
          "TaskToken.$": "$$.Task.Token",
          "Input.$": "$"
        }
      },
      "Next": "Choice"
    },
    "Choice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.approved",
          "BooleanEquals": true,
          "Next": "SNS Publish"
        },
        {
          "Variable": "$.approved",
          "BooleanEquals": false,
          "Next": "SNS Publish (1)"
        }
      ],
      "Default": "SNS Publish (1)"
    },
    "SNS Publish": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "Message.$": "$",
        "TopicArn": "arn:aws:sns:ap-southeast-1:730335485777:Learn-SNS"
      },
      "End": true
    },
    "SNS Publish (1)": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "Message.$": "$",
        "TopicArn": "arn:aws:sns:ap-southeast-1:730335485777:Learn-SNS"
      },
      "End": true
    }
  }
}