.aws/CICD_using_step_functions/step_functions/manual_approval_JSONata.json
{
  "Comment": "A description of my state machine",
  "StartAt": "request approval switch traffic via slack",
  "States": {
    "request approval switch traffic via slack": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke.waitForTaskToken",
      "Arguments": {
        "FunctionName": "arn:aws:lambda:ap-southeast-1:730335485777:function:request-to-slack-for-manual-approval",
        "Payload": {
          "TaskToken": "{% $states.context.Task.Token %}",
          "Input": "{% $states.input %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Choice"
    },
    "Choice": {
      "Type": "Choice",
      "Choices": [
        {
          "Condition": "{% $states.input.approved = true %}",
          "Next": "SNS Publish"
        },
        {
          "Condition": "{% $states.input.approved = false %}",
          "Next": "SNS Publish (1)"
        }
      ],
      "Default": "SNS Publish (1)"
    },
    "SNS Publish": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Arguments": {
        "Message": "{% $states.input %}",
        "TopicArn": "arn:aws:sns:ap-southeast-1:730335485777:Learn-SNS"
      },
      "End": true
    },
    "SNS Publish (1)": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Arguments": {
        "Message": "{% $states.input %}",
        "TopicArn": "arn:aws:sns:ap-southeast-1:730335485777:Learn-SNS"
      },
      "End": true
    }
  },
  "QueryLanguage": "JSONata"
}