.aws/final-state-machine.json
{
  "StartAt": "Register ECS Task Definition",
  "States": {
    "Register ECS Task Definition": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-southeast-1:730335485777:function:register-new-task-definition",
      "ResultPath": "$.RegisterResult",
      "Next": "Update ECS Service"
    },
    "Update ECS Service": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-southeast-1:730335485777:function:create-new-ecs-service-from-new-task-definition",
      "Parameters": {
        "newTaskDefinitionArn.$": "$.RegisterResult.newTaskDefinitionArn",
        "ECS_CLUSTER.$": "$.ECS_CLUSTER",
        "BASE_SERVICE.$": "$.BASE_SERVICE"
      },
      "ResultPath": "$.UpdateServiceResult",
      "Next": "WaitBeforeHealthCheck"
    },
    "WaitBeforeHealthCheck": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "Check Blue Green"
    },
    "Check Blue Green": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-southeast-1:730335485777:function:check-prod-stagging",
      "Parameters": {
        "listener_arn.$": "$.LISTENER_ARN"
      },
      "ResultPath": "$.CheckBlueGreenResult",
      "Next": "Poll Target Health"
    },
    "Poll Target Health": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-southeast-1:730335485777:function:poll-target-health",
      "Parameters": {
        "TargetGroupArn.$": "$.CheckBlueGreenResult.next_deploy"
      },
      "ResultPath": "$.PollResult",
      "Next": "Check Health Result"
    },
    "Check Health Result": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.PollResult.isHealthy",
          "BooleanEquals": true,
          "Next": "Switch Traffic"
        },
        {
          "Variable": "$.PollResult.status",
          "StringEquals": "IN_PROGRESS",
          "Next": "WaitBeforeHealthCheck"
        }
      ],
      "Default": "Rollback Deployment"
    },
    "Switch Traffic": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-southeast-1:730335485777:function:shifting-traffic-to-new-ecs-service",
      "Parameters": {
        "listener_arn.$": "$.LISTENER_ARN",
        "current_prod.$": "$.CheckBlueGreenResult.current_prod",
        "next_deploy.$": "$.CheckBlueGreenResult.next_deploy"
      },
      "ResultPath": "$.SwitchTrafficResult",
      "Next": "Scale in old ECS Service"
    },
    "Scale in old ECS Service": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-southeast-1:730335485777:function:scale-down-luan-van-frontend",
      "Parameters": {
        "oldServiceName.$": "$.UpdateServiceResult.activeService",
        "ECS_CLUSTER.$": "$.ECS_CLUSTER"
      },
      "ResultPath": "$.ScaleInResult",
      "End": true
    },
    "Rollback Deployment": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-southeast-1:730335485777:function:rollback-deployment-when-healtch-check-fail",
      "ResultPath": "$.RollbackResult",
      "Next": "SNS Publish notify Failure to mail"
    },
    "SNS Publish notify Failure to mail": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "Message.$": "$.RollbackResult",
        "TopicArn": "arn:aws:sns:ap-southeast-1:730335485777:Learn-SNS"
      },
      "End": true
    }
  }
}
