.aws/final-state-machine.json
{
  "StartAt": "Register ECS Task Definition",
  "States": {
    "Register ECS Task Definition": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-southeast-1:730335485777:function:register-new-task-definition",
      "Next": "Update ECS Service"
    },
    "Update ECS Service": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-southeast-1:730335485777:function:create-new-ecs-service-from-new-task-definition",
      "Next": "Wait for Deployment Stable"
    },
    "Wait for Deployment Stable": {
      "Type": "Wait",
      "Seconds": 60,
      "Next": "Health Check"
    },
    "Health Check": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-southeast-1:730335485777:function:health-check-new-ecs-service",
      "Next": "Check Health Result"
    },
    "Check Health Result": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.isHealthy",
          "BooleanEquals": true,
          "Next": "Shift Traffic"
        }
      ],
      "Default": "Rollback Deployment"
    },
    "Shift Traffic": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-southeast-1:730335485777:function:shifting-traffic-to-new-ecs-service",
      "Next": "SNS Publish notify Success to mail"
    },
    "Rollback Deployment": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-southeast-1:730335485777:function:rollback-deployment-when-healtch-check-fail",
      "Next": "SNS Publish notify Failure to mail"
    },
    "SNS Publish notify Success to mail": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "Message.$": "$",
        "TopicArn": "arn:aws:sns:ap-southeast-1:730335485777:Learn-SNS"
      },
      "End": true
    },
    "SNS Publish notify Failure to mail": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "Message.$": "$",
        "TopicArn": "arn:aws:sns:ap-southeast-1:730335485777:Learn-SNS"
      },
      "End": true
    }
  }
}
