.aws/final-state-machine.json
{
  "StartAt": "Register ECS Task Definition",
  "States": {
    "Register ECS Task Definition": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-southeast-1:730335485777:function:register-new-task-definition",
      "ResultPath": "$.RegisterResult",
      "Next": "Update ECS Service"
    },
    "Update ECS Service": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-southeast-1:730335485777:function:create-new-ecs-service-from-new-task-definition",
      "Parameters": {
        "newTaskDefinitionArn.$": "$.RegisterResult.newTaskDefinitionArn",
        "ECS_CLUSTER.$": "$.RegisterResult.ECS_CLUSTER",
        "BASE_SERVICE.$": "$.BASE_SERVICE"
      },
      "ResultPath": "$.UpdateServiceResult",
      "Next": "WaitBeforeHealthCheck"
    },
    "WaitBeforeHealthCheck": {
      "Type": "Wait",
      "Seconds": 30,
      "Next": "Poll Target Health"
    },
    "Poll Target Health": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-southeast-1:730335485777:function:poll-target-health",
      "ResultPath": "$.PollResult",
      "Next": "Check Health Result"
    },
    "Check Health Result": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.PollResult.isHealthy",
          "BooleanEquals": true,
          "Next": "Check Blue Green"
        },
        {
          "Variable": "$.PollResult.status",
          "StringEquals": "IN_PROGRESS",
          "Next": "WaitBeforeHealthCheck"
        }
      ],
      "Default": "Rollback Deployment"
    },
    "Check Blue Green": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-southeast-1:730335485777:function:check-prod-stagging",
      "Parameters": {
        "listener_arn.$": "$.RegisterResult.LISTENER_ARN"
      },
      "ResultPath": "$.CheckBlueGreenResult",
      "Next": "Switch Traffic"
    },
    "Switch Traffic": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-southeast-1:730335485777:function:shifting-traffic-to-new-ecs-service",
      "Parameters": {
        "listener_arn.$": "$.RegisterResult.LISTENER_ARN"
      },
      "ResultPath": "$.SwitchTrafficResult",
      "Next": "SNS Publish notify Success to mail"
    },
    "Rollback Deployment": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-southeast-1:730335485777:function:rollback-deployment-when-healtch-check-fail",
      "ResultPath": "$.RollbackResult",
      "Next": "SNS Publish notify Failure to mail"
    },
    "SNS Publish notify Success to mail": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "Message.$": "$.SwitchTrafficResult",
        "TopicArn": "arn:aws:sns:ap-southeast-1:730335485777:Learn-SNS"
      },
      "Next": "Scale down old ECS Service"
    },
    "Scale down old ECS Service": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:ap-southeast-1:730335485777:function:scale-down-old-ecs-service",
      "ResultPath": "$.ScaleDownResult",
      "End": true
    },
    "SNS Publish notify Failure to mail": {
      "Type": "Task",
      "Resource": "arn:aws:states:::sns:publish",
      "Parameters": {
        "Message.$": "$.RollbackResult",
        "TopicArn": "arn:aws:sns:ap-southeast-1:730335485777:Learn-SNS"
      },
      "End": true
    }
  }
}